*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display-none{
    display: none;
}
nav{
    /* background: grey; */
    color: white;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}

nav .logo{
    /* border: 2px solid green; */
    display: grid;
    width: 20%;
    height: 100%;
    place-content: center;
}

nav .logo img{
    width: 75%;
    height: 90%;
}
.navlinks{
    display: flex;
    flex-direction: row;
    font-weight:bold;
    margin: auto 0px;
    /* border: 2px solid yellow; */
    margin-right: 100px;
    
}

.navlinks li{
    list-style: none;
    margin: 0px 10px;
}

.navlinks li a{
    color: black;
    text-decoration: none;
}

.hamburger{
    display: none;
}

.carousel-container{
    width: 80%;
    height: 90vh;
    /* border: 5px solid green; */
    margin: auto;
   overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.image-slide{
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2.5px dashed black; */
}

.image-slide img{
    max-width: 100%;
    height: 100%;
    /* border: 2px dotted red; */
    object-fit: cover;
}

.overlay{
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 4;
    /* border: 2px solid red; */
}

#prevBtn{
    position: absolute;
    z-index: 3;
    top:50%;
    right:0%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}

#nextBtn{
    position: absolute;
    z-index: 3;
    top:50%;
    left:0%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}

.hero{
    color: white;
    
    position: absolute;
    /* width: 50%; */
    /* border: 2px solid green; */
    top: 50%;
    left: 50%;
    font-size: 3.2rem;
    font-weight: bold;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.hero-text{
    display: flex;
    
}

.hero .hero-text span{
    display: inline-block;
    margin-left: 10px;
    
}

@media screen and (max-width:930px) {

    .navlinks{
        transition: all 1s ;
        /* border: 2px solid green; */
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
        z-index: 6;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(252, 243, 164, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        
    }

    .navlinks li{
        margin:  20px 0px;
    }

    nav .logo img{
        width: 100%;
        height: 90%;
    }

    .hamburger{
        display: block;
        color: black;
        z-index: 7;
            
    }

    .navlinks-show{
        /* border: 2px solid red; */
        position:absolute;
        top:0px;
        left:0px;
        height: 100vh;
        transform: translateX(0%);
    }

    .carousel-container{
         height: 80vh;
         width: 90%;
    }

    .hero{
        font-size: 1.5rem;
    }
}
